body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.container {
    height: auto;
    overflow: hidden;
}

.leftcolumn {
  float: none;
  width: auto;
  margin: 4px 10px 0px 0px;
  overflow: hidden;
}

.rightcolumn {
  float: right;
  width: 300px;
  margin: 4px 4px 4px 20px;
}

.image {
    text-align: left;
}
