$decor-color: #2e67b8;

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 2.5em;
  text-align: center;
  background: white;
}

.container {
    height: auto;
    overflow: hidden;
}

.leftcolumn {
  float: none;
  width: auto;
  margin: 4px 10px 0px 0px;
  overflow: hidden;
}

.rightcolumn {
  float: right;
  width: 300px;
  margin: 4px 4px 4px 20px;
}

.image {
  text-align: left;
}

article {
  margin-top: 20px;
  padding: 20px 40px;
  background-color: white;
}

a {
  color: $decor-color;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  color: $decor-color;
  margin-bottom: 0px;
}

p {
  margin-top: 8px;
  margin-bottom: 16px;
  line-height: 1.5;
}
